html
  include template/head.pug
  body
    .container.py-3
      .row
        .col
          h2 Hi, #{user.fullname}
          p.text-primary #{user.username}
          a.btn.btn-danger(href="auth/logout") Logout
    include template/foot.pug