html
  head
    title Login
  body
    form(action="login",method="POST")
      input(name="username",type="text",placeholder="Username")
      br
      input(name="password",type="password",placeholder="Password")
      br
      input(type="submit",value="Login")
    a(href="signup") Sign Up