html
  head
    title Sign Up
  body
    form(action="signup",method="POST")
      input(name="fullname",type="text",placeholder="Full Name")
      br
      input(name="username",type="text",placeholder="Username")
      br
      input(name="password",type="password",placeholder="Password")
      br
      input(type="submit",value="Sign Up")
    a(href="login") Login