body {
  background-color: #fff !important;
}
.btn.btn-login-google{
  background-color: #ffffff;
  border: 2px solid #000;
  color: #000000;
}
.btn.btn-login-google i{
  color: rgb(255, 50, 50);
}
.btn.btn-login-google:hover{
  background-color: rgb(255, 50, 50);
  border: 2px solid rgb(255, 50, 50);
  color: #fff;
}
.btn.btn-login-google:hover i{
  color: #fff;
}